#root {
  max-width: 1920px;
  margin: 0 auto;
  text-align: center;
}

.container {
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.card-area {
  display: none;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(100%, max(210px, 100%/6)), 1fr)
  );
  justify-items: center;
  justify-content: center;
  margin: 2rem auto;
  max-width: 80%;
}
