#root {
  max-width: 1920px;
  margin: 0 auto;
  text-align: center;
}

.container {
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.card-area {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  justify-content: center;
  margin: 2rem 0;
}
