@font-face {
  font-family: Goldman;
  src: url('../assets/fonts/Goldman-Regular.ttf');
}

:root {
  font-family: Goldman, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-1: #d6c9b6;
  --color-2: #ccb37d;
  --color-3: #425772;
  --color-4: #b9212e;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #b9212ed8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  height: 100%;
}
