.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 98%;
  height: 70%;
  position: absolute;
  top: 25%;
  left: 1%;
  z-index: 99;
  background-color: var(--color-3);
  color: #ffffff;
  border: 2px solid var(--color-2);
  border-radius: 8px;
}

.modal-main {
  font-size: 1.5rem;
  line-height: 4rem;
  max-width: 70%;
  padding: 2rem;
  border: 2px solid var(--color-4);
  border-radius: 8px;
  box-shadow: 0 0 10px 3px var(--color-1);
}

#modal-button {
  margin: 1rem;
  width: 80px;
  height: 35px;
  border-radius: 8px;
  border: 1pt solid var(--color-1);
  background-color: var(--color-2);
  color: var(--color-3);
  font-size: 1.2rem;
  font-family: Goldman;
}

#modal-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 8px 2px var(--color-1);
  color: #ffffff;
}

#modal-button:active {
  transform: scale(1);
}

/* Mobile Display */
@media only screen and (max-width: 842px) {
  .modal {
    height: 100%;
    top: 0;
  }
  .modal-main {
    max-width: 80%;
    font-size: 1.2rem;
    line-height: 2rem;
  }
}
